<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.marobiana.quiz.lesson04.dao.NewSellerDAO">
 	
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO `seller`
 		(
 			`nickname`
 			,`profileImageUrl`
 			,`temperature`
 			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{nickname}
 			,#{profileImageUrl}
 			,#{temperature}
 			,now()
 			,now()
 		)
 	</insert>
 	
 	<select id="selectSeller" resultType="com.marobiana.quiz.lesson04.model.NewSeller" parameterType="int">
 		SELECT
 			`id`
 			,`nickname`
			,`profileImageUrl`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM
			`seller`
		WHERE
			`id` = #{id}
 	</select>
 	
 	 <select id="selectLastSeller" resultType="com.marobiana.quiz.lesson04.model.NewSeller" parameterType="int">
 		SELECT
 			`id`
 			,`nickname`
			,`profileImageUrl`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM
			`seller`
		ORDER BY `id` DESC
		LIMIT 1
 	</select>
 	
 </mapper>